.detail_report .flex {
	display: flex;
}
.detail_report {
	width: 750px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 82px;
	flex-direction: column;
	//min-height: 2000px;
	min-height: calc(95vh);
	// overflow: hidden;

	.group {
		background-color: rgba(240, 242, 245, 1);
		position: relative;
		padding: 37px 25px 0px 25px;
		flex-direction: column;
	}

	.text_title {
		overflow-wrap: break-word;
		color: rgba(0, 0, 0, 1);
		font-size: 30px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 42px;
		margin: 0 530px 0 16px;
	}

	.single-avatar {
		background-color: rgba(255, 255, 255, 1);
		border-radius: 40px;
		width: 180px;
		height: 180px;
		align-self: center;
		margin-top: 28px;
		overflow: hidden;
	}

	.section {
		align-self: center;
		margin-top: 26px;
		display: flex;
	}

	.image_lr {
		width: 37px;
		height: 4px;
		margin: 25px 0 27px 0;
	}

	.text_assistant {
		overflow-wrap: break-word;
		color: rgba(0, 0, 0, 1);
		font-size: 40px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 56px;
	}

	.section_1 {
		box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
		background-color: rgba(255, 255, 255, 1);
		border-radius: 16px;
		margin-top: 37px;
		padding: 30px 42px 20px 38px;
	}

	.nut-tab-pane {
		padding: 0;
	}

	.tabs-scrollview {
		background-color: white;
	}

	.taro_html {
		margin-top: 10px;
	}

	.button-wrapper {
		background-color: rgb(255, 255, 255);
		//background-color: red;
		border-radius: 33px;
		padding: 0 20px;
		// max-width: 135px;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 66px;
		width: 224px;
	}

	.button-text {
		// overflow-wrap: break-word;
		color: rgba(99, 103, 110, 1);
		font-size: 26px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: center;
		white-space: nowrap;
		line-height: 37px;
	}

	.tab-warper {
		margin: 36px 35px;
		background-color: transparent;
		margin-bottom: 0;
	}

	.tab-warper-pane-analyze {
		background-color: rgb(240, 242, 245);
		display: flex;
		flex-direction: column;
	}

	.tab-warper-pane-base {
		//background-color: rgb(240, 242, 245);
		background: linear-gradient(to bottom, rgb(240, 242, 245) , white);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}


	.nut-swipe {
		overflow-x: scroll;
	}

	::-webkit-scrollbar {
		width: 0;
		height: 0;
		color: transparent;
	}

	.chart_1 {
		box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
		background-color: rgba(255, 255, 255, 1);
		border-radius: 16px;
		height: 595px;
		padding: 41px 46px 54px 27px;
		margin-top: 40px;
	}

	.text-wrapper_1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.text_11 {
		// overflow-wrap: break-word;
		// color: rgba(0, 0, 0, 1);
		// font-size: 30px;
		// font-family: PingFang-SC-Bold;
		// font-weight: normal;
		// text-align: center;
		// white-space: nowrap;
		// line-height: 42px;
		// margin-top:20px;
		width: 221px;
		height: 50px;
		font-size: 36px;
		font-family: PingFang-SC, PingFang-SC;
		font-weight: bold;
		color: #000000;
		line-height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	.bar-chart {
		width: 640px;
		height: 640px;
		// margin-top: 30px;
	}

	.chart-wraper {
		margin: 0;
		align-self: center;
		background-color: white;
		margin-top: 40px;
		border-radius: 20px;
		width: 700px;
	}

	.image_3_line {
		width: 30px;
		height: 14px;
		margin: 18px 0 18px 0;
	}

	.image_text {
		margin: 0 6px;
    white-space: nowrap;
	}

	.overlay-body{
		width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	.overlay-content{
		width: 200px;
    height: 120px;
		padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    z-index: 99;
		background: #fff;
		border-radius: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.baseInfo-group{
		display: flex;
    flex-direction: column;
    justify-content: center;
	}
}
