.flexCon{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.repo-text-wrapper {
	background-color: red;
  padding: 6px 20px;
	border-radius: 40px;
	justify-content: center;
	align-items: center;
	/*线性渐变*/
	background: linear-gradient(to right, #ff4218, #ff9b86);
}

.repo-text-title {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 26px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 37px;
}

.repo-title {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: PingFang-SC-Bold;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 42px;
  margin-top: 3px;
	margin-left: 10px;
}

.repo-content {
  width: 623px;
  /* height: 288px; */
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 48px;
  margin-top: 19px;
	display: flex;
}

.repo-text-container{
	display: flex;
	/* justify-content: space-between; */
	flex-direction: row;
	width: 322px;
}

.repo-box {
  box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 700px;
  align-self: center;
  margin-top: 25px;
  padding: 36px 36px 28px 36px;
	box-sizing: border-box;
}

.repo-text-info-con {
  background-color: rgba(255, 247, 246, 1);
  border-radius: 16px;
  width: 700px;
  border: 2px solid rgba(241, 207, 193, 1);
  align-self: center;
  margin-top: -1px;
  padding: 20px 36px 34px 36px;
	box-sizing: border-box;
}

.repo-text-info {
  padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.repo-text-head {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: PingFang-SC-Bold;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 42px;
}

.repo-text-red {
  width: 623px;
  overflow-wrap: break-word;
  color: rgba(241, 101, 43, 1);
  font-size: 27px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 48px;
}

.repo-text-black {
  width: 623px;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 27px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 48px;
  margin-top: 17px;
}

/* .repo-text-4 {
  width: 623px;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 27px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 48px;
  margin-top: 27px;
}

.repo-text-5 {
  width: 623px;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 27px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 48px;
  margin-top: 27px;
}

.repo-text-6 {
  width: 623px;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 27px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 48px;
  margin-top: 27px;
} */

.repo-text-end {
  padding: 20px 20px;
}

.repo-text {
  /* width: 652px; */
  /* height: 282px; */
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 27px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 47px;
}

/* 特质分析 */
/*
.spec_group {
  box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 700px;
  align-self: center;
  padding: 34px 35px 63px 35px;
} */

.spec_group {
  box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 700px;
  align-self: center;
  margin-bottom: 30px;
  padding: 36px 36px 28px 36px;
	box-sizing: border-box;
}


.repo-title {

}

.spec-box{
	width: 6px;
	height: 28px;
	background: url(../../assets/images/su.png) 100% no-repeat;
	background-size: 100% 100%;
	margin: 8px 10px 6px 0;
}

.spec-text {
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 30px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	line-height: 42px;
}

.spec-desc-warper {
  background-color: rgba(255, 247, 246, 1);
  border-radius: 16px;
  margin-top: 22px;
  padding: 22px 35px 26px 29px;
}

.spec-desc-text {
  overflow-wrap: break-word;
  color: rgba(241, 101, 43, 1);
  font-size: 28px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  /* white-space: nowrap; */
  line-height: 48px;
}

.spec-desc-content {
	display: flex;
  width: 630px;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 28px;
  font-family: PingFang-SC-Medium;
  font-weight: normal;
  text-align: justify;
  line-height: 47px;
  margin-top: 16px;
}

.base_info_group {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 16px;
	width: 700px;
	height: 267px;
	align-self: center;
	margin-top: 34px;
	padding-bottom: 25px;
	.base_group_title {
		display: flex;
		flex-direction: row;
		background-color: rgba(255, 247, 246, 1);
		border-radius: 15px 15px 0px 0px;
		margin-top: -5px;
		padding: 23px 530px 20px 31px;
		.base_info_title_text {
			display: flex;
			justify-content: space-between;
			width: 139px;
			display: flex;
			flex-direction: row;
			.base_info_title_txt {
				width: 6px;
				height: 28px;
				background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd385fa94800e20da9c3f8b632af0fd6081d11e30e96199e7272a8125330e3206)
					100% no-repeat;
				background-size: 100% 100%;
				margin: 7px 0 7px 0;
			}
			.base_text_base_span {
				overflow-wrap: break-word;
				color: rgba(0, 0, 0, 1);
				font-size: 30px;
				letter-spacing: 0.6205102801322937px;
				font-family: PingFang-SC-Bold;
				font-weight: normal;
				text-align: left;
				white-space: nowrap;
				line-height: 42px;
			}
		}
	}
	.base_text_wrapper_gender {
		width: 269px;
		height: 51px;
		overflow-wrap: break-word;
		font-size: 0;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 51px;
		margin: 20px 395px 0 36px;
		.base_text_label {
			overflow-wrap: break-word;
			color: rgba(124, 124, 124, 1);
			font-size: 26px;
			font-family: PingFang-SC-Medium;
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
			line-height: 51px;
		}
		.base_text_txt {
			overflow-wrap: break-word;
			color: rgba(0, 0, 0, 1);
			font-size: 26px;
			font-family: PingFang-SC-Medium;
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
			line-height: 51px;
		}
	}
	.base_mage {
		width: 622px;
		height: 1px;
		align-self: center;
		margin-top: 19px;
	}
	.base_text_wrapper_age {
		width: 259px;
		height: 51px;
		overflow-wrap: break-word;
		font-size: 0;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 51px;
		margin: 20px 405px 0 36px;
		.base_text_age {
			overflow-wrap: break-word;
			color: rgba(124, 124, 124, 1);
			font-size: 26px;
			font-family: PingFang-SC-Medium;
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
			line-height: 51px;
		}
		.base_age_txt {
			overflow-wrap: break-word;
			color: rgba(0, 0, 0, 1);
			font-size: 26px;
			font-family: PingFang-SC-Medium;
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
			line-height: 51px;
		}
	}
}

.base_text_explanation {
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 30px;
	font-family: PingFang-SC-Bold;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 42px;
	align-self: center;
	margin-top: 56px;
	margin-bottom: 56px;
}

.base_label_notice {
	background-color: rgba(255, 247, 246, 1);
	border-radius: 16px;
	border: 2px solid rgba(241, 207, 193, 1);
	align-self: center;
	margin-top: -1px;
	padding: 39px 43px 41px 43px;
	.base_text_notice_title {
		overflow-wrap: break-word;
		color: rgba(242, 114, 62, 1);
		font-size: 27px;
		letter-spacing: 0.5584592223167419px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 38px;
		margin-right: 3px;
	}
	.base_info_title_text {
		width: 610px;
		margin-top: 27px;
		display: flex;
		justify-content: space-between;
		.base_reader_sub {
			background-color: rgba(241, 101, 43, 1);
			border-radius: 50%;
			width: 6px;
			height: 6px;
			margin: 16px 0 54px 0;
		}
		.text_base_reader_sub {
			width: 584px;
			height: 76px;
			overflow-wrap: break-word;
			color: rgba(34, 34, 34, 1);
			font-size: 27px;
			letter-spacing: 0.5584592223167419px;
			font-family: PingFang-SC-Medium;
			font-weight: normal;
			text-align: left;
			line-height: 38px;
		}
	}
}

.base_favorite {
	display: flex;
	background-color: rgba(251, 210, 194, 1);
	margin-top: 121px;
	padding: 21px 0px;
	position: fixed;
	width: 100%;
	// top: calc(90vh);
	bottom:0;
	.con_favorite {
		padding: 0px 20px;
		display: flex;
    width: 100%;
		justify-content: space-between;
		.base_favorite_text {
			overflow-wrap: break-word;
			color: rgba(34, 34, 34, 1);
			font-size: 28px;
			font-family: PingFang-SC-Medium;
			font-weight: normal;
			text-align: right;
			white-space: nowrap;
			line-height: 40px;
			margin-top: 14px;
		}
		.base_favorite_img {
			width: 34px;
			height: 28px;
			margin: 20px 15px;
		}
		.button_favorite {
			background-color: rgba(255, 255, 255, 1);
			border-radius: 12px;
			margin-left: 10px;
			padding: 13px 40px 13px 40px;

			.base_text_favorite {
				overflow-wrap: break-word;
				color: rgba(0, 0, 0, 1);
				font-size: 28px;
				font-family: PingFang-SC-Medium;
				font-weight: normal;
				text-align: right;
				white-space: nowrap;
				line-height: 40px;
			}
		}
	}
}
