.home {
	display: flex;
	// justify-content: center;
	align-items: center;
	flex-direction: column;
	.bg{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;
	}
	img{
		width: 100%;
		height: 100%;
	}
	.pet-personality {
		width:682px;
		height:254px;
		margin-top: 24px;
	}
	.home-select {
		margin-top: 28px;;
		width:681px;
		height:646px;
	}

	.group_10 {
		box-shadow: 0px -1px 0px 0px rgba(220, 220, 220, 0.5);
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		// margin-top: 40px;
		// position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
	}

	.button_1 {
		background-image: linear-gradient(
			90deg,
			rgba(255, 131, 107, 1) 0,
			rgba(255, 66, 23, 1) 100%
		);
		border-radius: 44px;
		width: 700px;
	}

	.text_26 {
		overflow-wrap: break-word;
		color: rgba(255, 255, 255, 1);
		font-size: 32px;
		font-family: PingFangSC-Medium;
		font-weight: 500;
		text-align: center;
		white-space: nowrap;
		line-height: 45px;
		padding: 20px;
	}

	.flex-col {
		display: flex;
	}

	.go-cat {
		//background-color: red;
		width: 215px;
		height:182px;
		position: absolute;
		top:510px;
		left: 390px;
	}

	.go-dog {
		//background-color: red;
		width: 215px;
		height:182px;
		position: absolute;
		top:880px;
		left: 130px;
	}

	.nut-overlay {
		display: none;
	}

	.nut-popup--bottom.round {
		border-radius: 0;
	}
}
