.simply_report .flex-col {
	display: flex;
}
.simply_report .flex-row {
	display: flex;
}
.simply_report {
	position: relative;
	width: 750px;
	// height: 100%;
	// overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 82px;

	.group_1 {
		background-color: rgba(255, 255, 255, 1);
		padding: 27px 2px 1px 0;
	}

	.group_2 {
		margin: 0 26px 0 40px;
	}

	.text_1 {
		overflow-wrap: break-word;
		color: rgba(0, 0, 0, 1);
		font-size: 30px;
		letter-spacing: -0.6000000238418579px;
		font-family: SFProText-Semibold;
		font-weight: 600;
		text-align: center;
		white-space: nowrap;
		line-height: 36px;
	}

	.label_1 {
		width: 34px;
		height: 21px;
		margin: 8px 0 7px 440px;
	}

	.label_2 {
		width: 31px;
		height: 22px;
		margin: 8px 0 6px 10px;
	}

	.image_1 {
		width: 50px;
		height: 24px;
		margin: 7px 0 5px 9px;
	}

	.nav-bar_1 {
		margin-top: 21px;
		padding: 30px 45px 38px 49px;
	}

	.icon_1 {
		width: 51px;
		height: 30px;
		margin: 9px 0 9px 0;
	}

	.text_2 {
		overflow-wrap: break-word;
		color: rgba(0, 0, 0, 1);
		font-size: 34px;
		letter-spacing: 1.806249976158142px;
		font-family: PingFangSC-Medium;
		font-weight: 500;
		text-align: left;
		white-space: nowrap;
		line-height: 48px;
		margin-left: 203px;
	}

	.image_2 {
		width: 35px;
		height: 7px;
		margin: 21px 0 20px 221px;
	}

	.group_3 {
		background-color: rgba(240, 242, 245, 1);
		position: relative;
		padding: 37px 25px 0px 25px;
	}

	.text_3 {
		overflow-wrap: break-word;
		color: rgba(0, 0, 0, 1);
		font-size: 30px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 42px;
		margin: 0 530px 0 16px;
	}

	.single-avatar_1 {
		background-color: rgba(255, 255, 255, 1);
		border-radius: 40px;
		width: 180px;
		height: 180px;
		align-self: center;
		margin-top: 28px;
	}

	.section_1 {
		align-self: center;
		margin-top: 26px;
		display: flex;
	}

	.image_3 {
		width: 37px;
		height: 4px;
		margin: 25px 0 27px 0;
	}

	.text_4 {
		overflow-wrap: break-word;
		color: rgba(0, 0, 0, 1);
		font-size: 40px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 56px;
	}

	.image_4 {
		width: 37px;
		height: 4px;
		margin: 25px 0 27px 1px;
	}

	.section_2 {
		box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
		background-color: rgba(255, 255, 255, 1);
		border-radius: 16px;
		margin-top: 37px;
		padding: 30px 42px 20px 38px;
	}

	.group_4 {
		width: 76px;
		margin-right: 544px;
	}

	// .box_1 {
	// 	width: 6px;
	// 	height: 28px;
	// 	background: url(../../assets/images/su.png) 100% no-repeat;
	// 	background-size: 100% 100%;
	// 	margin: 8px 0 6px 0;
	// }

	.text_5 {
		overflow-wrap: break-word;
		color: rgba(34, 34, 34, 1);
		font-size: 30px;
		font-family: PingFangSC-Medium;
		font-weight: 500;
		text-align: left;
		white-space: nowrap;
		line-height: 42px;
	}

	.text_6 {
		width: 620px;
		height: 88px;
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 28px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: justify;
		line-height: 44px;
		margin-top: 9px;
	}

	.group_5 {
		width: 136px;
		margin: 22px 484px 0 0;
	}

	// .group_6 {
	// 	width: 6px;
	// 	height: 28px;
	// 	background: url(../../assets/images/su.png) 100% no-repeat;
	// 	background-size: 100% 100%;
	// 	margin: 8px 0 6px 0;
	// }

	.text_7 {
		overflow-wrap: break-word;
		color: rgba(34, 34, 34, 1);
		font-size: 30px;
		font-family: PingFangSC-Medium;
		font-weight: 500;
		text-align: left;
		white-space: nowrap;
		line-height: 42px;
	}

	.text_8 {
		width: 620px;
		height: 132px;
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 28px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: justify;
		line-height: 44px;
		margin-top: 9px;
	}

	.group_7 {
		width: 136px;
		margin: 28px 484px 0 0;
	}

	// .block_1 {
	// 	width: 6px;
	// 	height: 28px;
	// 	background: url(../../assets/images/su.png) 100% no-repeat;
	// 	background-size: 100% 100%;
	// 	margin: 8px 0 6px 0;
	// }

	.text_9 {
		overflow-wrap: break-word;
		color: rgba(34, 34, 34, 1);
		font-size: 30px;
		font-family: PingFangSC-Medium;
		font-weight: 500;
		text-align: left;
		white-space: nowrap;
		line-height: 42px;
	}

	.text_10 {
		width: 620px;
		height: 132px;
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 28px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: justify;
		line-height: 44px;
		margin-top: 9px;
	}

	.image_5 {
		width: 162px;
		height: 54px;
		margin: 329px 188px 0 350px;
	}

	.image_6 {
		position: absolute;
		left: 375px;
		top: 1393px;
		width: 100px;
		height: 137px;
	}

	.image_7 {
		position: absolute;
		left: 275px;
		top: 1393px;
		width: 101px;
		height: 137px;
	}

	.image_8 {
		position: absolute;
		left: 213px;
		top: 1340px;
		width: 163px;
		height: 54px;
	}

	.chart_1 {
		box-shadow: 0px 8px 14px 0px rgba(234, 236, 239, 0.7);
		background-color: rgba(255, 255, 255, 1);
		border-radius: 16px;
		height: 595px;
		// width: 700px;
		// position: absolute;
		// left: 25px;
		// top: 1039px;
		padding: 41px 46px 54px 27px;
		margin-top: 40px;
	}

	.text-wrapper_1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.text_11 {
		overflow-wrap: break-word;
		color: rgba(0, 0, 0, 1);
		font-size: 30px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: center;
		white-space: nowrap;
		line-height: 42px;
	}

	.text-wrapper_2 {
		margin: 44px 255px 0 274px;
	}

	.text_12 {
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 24px;
		letter-spacing: 0.49640822410583496px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 33px;
	}

	.group_8 {
		width: 627px;
		margin-top: 126px;
	}

	.text_13 {
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 24px;
		letter-spacing: 0.49640822410583496px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 33px;
	}

	.image_9 {
		width: 78px;
		height: 74px;
		margin-top: 27px;
	}

	.text_14 {
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 24px;
		letter-spacing: 0.49640822410583496px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 33px;
		margin-top: 1px;
	}

	.text-wrapper_3 {
		margin: 102px 85px 0 76px;
	}

	.text_15 {
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 24px;
		letter-spacing: 0.49640822410583496px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 33px;
		margin-top: 19px;
	}

	.text_16 {
		overflow-wrap: break-word;
		color: rgba(241, 101, 43, 1);
		font-size: 20px;
		letter-spacing: 0.4136735200881958px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 28px;
		margin-left: 191px;
	}

	.text_17 {
		overflow-wrap: break-word;
		color: rgba(102, 102, 102, 1);
		font-size: 24px;
		font-family: PingFang-SC-Bold;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 33px;
		margin: 19px 0 0 5px;
	}

	.image_10 {
		position: absolute;
		left: 270px;
		top: 270px;
		width: 160px;
		height: 152px;
	}

	.image_11 {
		position: absolute;
		left: 231px;
		top: 228px;
		width: 238px;
		height: 228px;
	}

	// .group_9 {
	// 	height: 309px;
	// 	background: url(../../assets/images/su.png) 100% no-repeat;
	// 	background-size: 100% 100%;
	// 	width: 325px;
	// 	position: absolute;
	// 	left: 188px;
	// 	top: 184px;
	// 	padding: 25px 199px 0 60px;
	// }

	.text-wrapper_4 {
		margin: 0 37px 0 5px;
	}

	.text_18 {
		overflow-wrap: break-word;
		color: rgba(153, 153, 153, 1);
		font-size: 19px;
		letter-spacing: 0.392989844083786px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 26px;
	}

	.text-wrapper_5 {
		margin: 4px 20px 0 22px;
	}

	.text_19 {
		overflow-wrap: break-word;
		color: rgba(153, 153, 153, 1);
		font-size: 19px;
		letter-spacing: 0.392989844083786px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 26px;
	}

	.text-wrapper_6 {
		margin: 3px 0 0 42px;
	}

	.text_20 {
		overflow-wrap: break-word;
		color: rgba(153, 153, 153, 1);
		font-size: 19px;
		letter-spacing: 0.392989844083786px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 26px;
	}

	.text-wrapper_7 {
		margin: 174px 41px 0 0;
	}

	.text_21 {
		overflow-wrap: break-word;
		color: rgba(241, 101, 43, 1);
		font-size: 20px;
		letter-spacing: 0.4136735200881958px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 28px;
	}

	.block_2 {
		position: absolute;
		left: 15px;
		top: 113px;
		width: 246px;
		height: 193px;
	}

	.text_22 {
		overflow-wrap: break-word;
		color: rgba(241, 101, 43, 1);
		font-size: 20px;
		letter-spacing: 0.4136735200881958px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 28px;
	}

	// .section_3 {
	// 	position: relative;
	// 	width: 215px;
	// 	background: url(../../assets/images/su.png) -2px -2px no-repeat;
	// 	background-size: 219px 197px;
	// 	padding: 0 15px 143px 77px;
	// }

	.text_23 {
		overflow-wrap: break-word;
		color: rgba(153, 153, 153, 1);
		font-size: 19px;
		letter-spacing: 0.392989844083786px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 26px;
	}

	.text_24 {
		overflow-wrap: break-word;
		color: rgba(241, 101, 43, 1);
		font-size: 20px;
		letter-spacing: 0.4136735200881958px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 28px;
		margin-top: 22px;
	}

	.image_12 {
		position: absolute;
		left: 116px;
		top: -112px;
		width: 1px;
		height: 170px;
	}

	.text_25 {
		position: absolute;
		left: 111px;
		top: 43px;
		overflow-wrap: break-word;
		color: rgba(153, 153, 153, 1);
		font-size: 19px;
		letter-spacing: 0.392989844083786px;
		font-family: PingFang-SC-Medium;
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
		line-height: 26px;
	}

	.group_10 {
		box-shadow: 0px -1px 0px 0px rgba(220, 220, 220, 0.5);
		// background-color: rgba(255, 255, 255, 1);
		// height: 120px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		margin-top: 40px;
	}

	.button_1 {
		background-image: linear-gradient(
			90deg,
			rgba(255, 131, 107, 1) 0,
			rgba(255, 66, 23, 1) 100%
		);
		border-radius: 44px;
		padding: 21px;
		width: 700px;
	}

	.text_26 {
		overflow-wrap: break-word;
		color: rgba(255, 255, 255, 1);
		font-size: 32px;
		font-family: PingFangSC-Medium;
		font-weight: 500;
		text-align: center;
		white-space: nowrap;
		line-height: 45px;
	}

	.taro_html {
		// color: #666;
		// font-family: PingFang-SC-Medium;
		// font-size: 28px;
		// font-weight: 400;
		// // height: 132rpx;
		// line-height: 44px;
		// margin-top: 9px;
		// overflow-wrap: break-word;
		// text-align: justify;
		// width: 620px;
	}

	.bar-chart {
		width: 700px;
		height: 700px;
		margin-top: 30px;
	}
}
